/* add your styles here */
header {
  padding: 1rem;
}

main {
  max-width: 80rem;
  margin: 1rem auto 0;
  padding: 1rem;
  background-color: lightgray;
}

h1 {
  font-size: 2rem;
}

.flex-container {
  margin: 1rem auto 0;
}

.picture-item {
  margin-top: 1rem;
}


figure img {
  width: 100%;
  height: auto;
  display: block;
}

figure div {
  background-color: azure;
}

footer {
  padding: 1rem;
}

@media screen and (min-width: 700px) {
  .flex-container {
    display: flex;
  }
  .picture-item:first-child {
    margin-right: 1rem;
  }
  .picture-item:last-child {
    margin-left: 1rem;
  }
}


/*@media screen and (min-width: 50rem) {
  main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
}*/
